/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	--main-color: #1D6154;
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a
{
	color: inherit;
	text-decoration: none;
}
nav .active
{
	font-weight: bolder;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin: 80px 0 80px;
}

.button, .categories button
{
	font-family: 'Syne';
	font-weight: 700;
	height: 36px;;
	padding: 0 12px;
	width: 237px;
	color: white;
	border: none;
	border-radius: 60px;
	background-color: var(--main-color);

	box-sizing: content-box;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
}
.categories button
{
	border: 1px solid var(--main-color);
}

.categories
{
	display: flex;
	margin: -20px 0 60px;
	gap: 10px;
	justify-content: center;
}
.categories button
{
	width: initial;
	min-width: 100px;
}
.categories button:not(:disabled):not(:hover)
{
	color: var(--main-color);
	background-color: transparent;
}
.categories button:disabled
{
	cursor: default;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery > .filtered
{
	display: none;
}
.gallery img {
	width: 100%;
}

section.form {
	width: 50%;
	margin: auto;
}
section.form, section.form > * {
	text-align: center;

}
.form h2{
	margin-bottom: 20px;
}
.form form
{
	margin-top:30px;
}
.form form, form.form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.form input:not([type="file"]), .form select
{
	height: 50px;
	padding: 0 15px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
}
.form label {
	margin: 2em 0 1em 0;
}
.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form a
{
	color: #3D3D3D;
}

.form input[type="submit"]
{
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}
.form:has(input:invalid) button, .form:has(select:invalid) button,
.form:has(input:invalid) input[type="submit"], .form:has(select:invalid) input[type="submit"]
{
	cursor: not-allowed;
	background-color: #A7A7A7;
	border-color: #A7A7A7;
}

.upload
{
	position: relative;
	text-align: center;
	background-color: #E8F1F6;
	border-radius: 3px;
	overflow: hidden;
}
.upload > input
{
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.upload_preview
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.upload_preview img
{
	background-color: #E8F1F6;
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.upload_input
{
	padding: 13px 0 19px 0;
}
.upload_input img
{
	display: block;
	margin: 0 auto;
}
.upload .button
{
	display: inline-block;
	--main-color: #CBD6DC;
	color: #306685;
	width: 173px;
	margin: 0.5em 0;
	line-height: 36px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Admin */
body.logged
{
	padding-top: 59px;
}
body.logged .unauth
{
	display: none !important;
}
body:not(.logged) .auth
{
	display: none !important;
}

#edit
{
	display: flex;
	align-items: center;
	gap: 10px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.edit_mode
{
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 59px;
	gap: 10px;
	color: white;
}
.edit_icon, .edit_icon_white
{
	height: 1rem;
}
.edit_icon
{
	filter: invert(100%);
}
.header_container
{
	display: flex;
	align-items: first baseline;
	justify-content: center;
	gap: 30px;
}

/* Admin modal */

.modal::backdrop {
	background: black;
	opacity: 0.3;
	top: 59px;
}
.modal
{
	background-color: white;
	border-radius: 10px;
	width: 630px;
	max-width: 100%;
	padding: 0;
	border: 0;
	text-align: center;
	box-sizing: border-box;
}
.modal > div
{
	padding: 45px 105px;
}
.modal_close
{
	position: absolute;
	top: 26px;
	right: 26px;
	border: 0;
	background-color: transparent;
}
.modal_back
{
	position: absolute;
	top: 26px;
	left: 26px;
	border: 0;
	background-color: transparent;
}
.modal_title
{
	line-height: 30.5px;
	font-size: 26px;
	margin: 18px 0 38px;
}
.modal_gallery
{
	margin: 38px 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 29px;
}
.modal_gallery figure
{
	position: relative;
}
.modal_gallery img
{
	width: 100%;
}
.modal_gallery .modal_gallery_remove
{
	position: absolute;
	top: 6px;
	right: 5px;
	height: 17px;
	width: 17px;
	border-radius: 2px;
	border: 0;
	background-color: black;
	background-image: url(./icons/trashcan.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.modal hr
{
	border: 0;
	border-top: 1px solid #B3B3B3;
	margin: 44px 0 30px;
}
.modal button
{
	margin: 5px auto 10px;
}